include biowardrobe_cwl_workflows/workflows/*.cwl
include biowardrobe_cwl_workflows/expressiontools/*.cwl
include biowardrobe_cwl_workflows/metadata/*.cwl
include biowardrobe_cwl_workflows/tools/*.cwl
include biowardrobe_cwl_workflows/tools/metadata/*.yaml
include biowardrobe_cwl_workflows/tools/metadata/*.yml
